{% extends "layout.html" %}

{% block title %}
: Articles
{% endblock %}

{% block main %}
    <body>
        <div class="articles-first-container">
            <p class="titles_main_header" style="color:white;">ΑΡΘΡΑ</p>
            <div class="articles-text-container">
                <h2 class="news_titles">Αμίαντος</h2>
                <h5>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain me be. So landlord by we unlocked sensible it. Fat cannot use denied excuse son law. Wisdom happen suffer common the appear ham beauty her had. Or belonging zealously existence as by resources. </h5>
                <h6>32/05/2020</h6>
                <div style="text-align: center; padding-top: 10px;">
                    <button class="btn btn-light" type="submit" onclick="window.open('static/articles/amiantos.pdf')">Διαβάστε περισσότερα!</button>
                </div>
            </div>
        </div>
    </body>
{% endblock %}