{% extends "layout.html" %}

{% block title %}
: Opinion
{% endblock %}

{% block main %}
    <body>
        <p class="titles_main_header">ΤΙ ΠΙΣΤΕΥΩ</p>
        <div class="beliefs-container">
            <h2>Τα πράγματα αλλάζουν μόνο από κάτω προς τα πάνω</h2>
            <h5>Δεν πιστεύω στους Μεσσίες, δεν πιστεύω στα δόγματα, δεν πιστεύω στις θεόσταλτες λύσεις. Πιστεύω ότι τα πράγματα αλλάζουν δομικά, μόνο όταν οι κοινωνίες κινητοποιούνται σε διάφορα επίπεδα για να τα αλλάξουν. Όταν η ανάγκη για αλλαγή γίνεται κτήμα και επιδίωξή τους. Και πιστεύω ότι ο ρόλος των πολιτικών είναι να αφουγκράζονται αυτή την κινητοποίηση και να τη κάνουν πράξη, με σοβαρό σχεδιασμό και ξεκάθαρη στοχοθεσία.</h5>
            <h2 style="padding-top: 20px;">Μαζί καταφέρνουμε περισσότερα απ’ ό,τι ο καθένας μόνος του</h2>
            <h5>Δεν πιστεύω στο «ή εμείς ή κανείς». Πιστεύω στη συνένωση δυνάμεων, πιστεύω στον διάλογο. Πιστεύω ότι ειδικά στην Τοπική Αυτοδιοίκηση δεν χωρούν κομματικά ή ιδεολογικά στερεότυπα. Τα πράγματα γίνονται δυνατά, όταν οι άνθρωποι βρίσκονται σε μικρές ή μεγαλύτερες συλλογικότητες. Το «είμαστε δυο, είμαστε τρείς, είμαστε χίλιοι δεκατρείς» φέρνει ανατροπές.</h5>
            <h2 style="padding-top: 20px;">Ο πολιτικός είναι για να υπηρετεί τον άνθρωπο και όχι το αντίστροφο</h2>
            <h5>Όταν η πολιτική περιορίζεται στην επιβίωση του πολιτικού συστήματος παρακμάζουν οι πόλεις, οι χώρες, οι δημοκρατίες. Ναι, η Πολιτική είναι Λειτούργημα. Και ο μόνος τρόπος αυτή η φράση, που ακούγεται αστεία στα αυτιά των περισσοτέρων, να ξαναποκτήσει νόημα, είναι να επιμένουμε σε αυτό πεισματικά και απόλυτα. Στην πράξη, μόνο. Κάθε μέρα και συνεχώς. Για να υπάρχει ελπίδα.</h5>
            <h2 style="padding-top: 20px;">«Ν’ αγαπάς την ευθύνη»</h2>
            <h5>Πιστεύω ότι στο τέλος της ημέρας αν κάτι δεν έγινε, αν κάτι δεν καταφέραμε, φταίμε εμείς και κανένας άλλος. Γι’ αυτό κι αν ένα στοιχείο πρέπει να έχει ένας πολιτικός, είναι η αποφασιστικότητα. Στη χώρα που ζούμε το «σύστημα» δεν βοηθάει. Δεν θα βοηθήσει ποτέ. Ο μόνος δρόμος λοιπόν είναι μπροστά. Με ξεκάθαρες αποφάσεις των οποίων την ευθύνη θα παίρνουμε και θα προχωράμε.</h5>
        </div>
    </body>
{% endblock %}