<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">  <!--after the bootstrap style so that I can override any changes-->
		<link rel="icon" href="data:,"> <!-- To avoid the ""GET /favicon.ico HTTP/1.1" 404" message at the terminal. If I want an icon like the youtube sign I can make one with photoshop and add it-->

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<title>Basilis Belias
			{% block title %}{% endblock %}
		</title>

	</head>

	<body style= "background-color: rgb(235, 236, 238);">
		<nav class="navbar navbar-expand-md navbar-light bg-light border">
			<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class=navbar-nav mr-auto>
					<li>
						<a class="logo_top_right" href='/'>Βασίλης Μπελιάς</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto mt-2">
					<li class="nav-item">
						<a class="nav-link" href="/">ΑΡΧΙΚΗ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about" style="padding-left: 5pt;">ΠΟΙΟΣ ΕΙΜΑΙ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/articles">ΑΡΘΡΑ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/beliefs">ΤΙ ΠΙΣΤΕΥΩ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a>
					</li>
				</ul>
			</div>
		</nav>

		<main class="main_container">
				{% block main %}{% endblock %}
		</main>


	</body>

</html>
